<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>Cardinal</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>cardinal</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(FLUTTER_BUILD_NAME)</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>$(FLUTTER_BUILD_NUMBER)</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Cardinal requiere acceso a la ubicación para mostrarla en el mapa.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Cardinal requiere acceso a la ubicación para mostrarla en el mapa.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Necesitamos acceso al micrófono para grabar audio en emergencias.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Necesitamos acceso a la galería para guardar las grabaciones.</string>
    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Cardinal utiliza tu ubicación para rastrear en tiempo real el recorrido del bus, incluso cuando la app no está en uso, permitiendo el control operativo, la seguridad y el seguimiento de las rutas asignadas.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>Cardinal necesita acceso permanente a tu ubicación para continuar registrando la posición del bus en segundo plano y garantizar el monitoreo continuo de la ruta durante el servicio.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Cardinal usa tu ubicación mientras la aplicación está en uso para mostrar el recorrido del bus, validar la ruta y mejorar la precisión del seguimiento durante la operación.</string>
    <key>UIBackgroundModes</key>
    <array>
        <string>fetch</string>
        <string>location</string>
    </array>
</dict>
</plist>
